body{
  background: rgba(4, 26, 88, 0.438);
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

p{
  font-size: 15;
  font-family: Helvetica, sans-serif;

}
#habilidades {
  color: rgb(1, 111, 138);
}
#links {
  color: rgb(1, 111, 138);
}
#biografia {
  color: rgb(1, 111, 138);
}
a{
  color: rgb(9, 54, 51);
}